* {
    font-family: 'Montserrat', cursive, sans-serif;
    color: #000;
    border: 0;
    padding: 0;
    margin: 0;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #FBF6F4;
    border-radius: 0 0 5px 5px;
}

#headerChange {
    color: white;
    background-color: wheat;
}

#header a {
    padding-left: 5px;
}

#header-links-accounts {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 30px;
}

#header-links-account-logged-in {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 30px;
}

#menu-icon {
    filter: invert(100%);
}

#jump-starter {
    width: 100%;
    height: 600px;
}

#catcher {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.menu-icon {
    text-decoration: none;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.links-header {
    position: relative;
    float: left;
}

.account-links-header {
    float: right;
}

.account-links-header-logged-in {
    float: right;
    min-width: 100px;
}

.account-links-header-logged-in a {
    text-decoration: none;
}

.account-links-header a {
    text-decoration: none;
}

.dropbtn {
    border: 0;
    padding: 0 4px 0 4px;
    background-color: transparent;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
}

.login {
    padding: 0 4px 0 4px;
}

.dropdown-content-header {
    display: none;
    position: absolute;
    min-width: 160px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-content-header a {
    text-decoration: none;
    color: #000;
    padding: 12px 16px;
    display: block;
}

.learn-more-button {
    width: 100px;
    height: 20px;
    position: relative;
    top: 25px;
    left: 13%;
}

.learn-more:hover {
    width: 120px;
    height: 50px;
    font-size: 19px;
    background-color: #692705;
    color: #CF8B64
}

.learn-more {
    font-size: 15px;
    width: 100px;
    height: 40px;
    transform: translate(-50%, -50%);
    background-color: #CF8B64;
    border-radius: 10px;
    color: #FFFFFF;
    transition: width 0.7s, height 0.7s, background-color 0.7s, color 0.7s, font-size 0.7s;
}

.user-account {
    color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
    background-color: transparent;
}

.top-spacer {
    position: absolute;
    width: 100%;
    top: 596px;
    height: 7px;
    z-index: 1;
    background-color: #CF8B64;
}

#text {
    display: none;
}

.spacer {
    position: absolute;
    width: 100%;
    top: 603px;
    height: 3em;
    z-index: 1;
    background-color: #CF8B64;
    clip-path: polygon(100% 0%, 0 0, 49% 100%);
}

.background-image {
    width: 100%;
    height: 100%;
    filter: blur(3px) grayscale(100%);
}

.bind {
    font-size: 50px;
    color: #FFFFFF;
}

.tail {
    color: #FFFFFF;
}

.requirements {
    position: relative;
    top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    z-index: 3;
}

.requirements span {
    padding: 0 20px;
    max-width: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.requirements img {
    position: relative;
    right: 1%;
    width: 35px;
    height: 35px;
    padding-bottom: 10px;
}

.requirements p {
    padding-top: 10px;
    font-size: 15px;
}


.links-header:hover .dropdown-content-header {display: block;}

.links-header:hover .dropdown-content-header a {background-color: #E5C7BC;}
.links-header:hover .dropdown-content-header a:hover {background-color: #692705; color: #CF8B64;} /*FF5700 */
.links-header:hover .dropbtn {background-color: #E5C7BC; color:#000;}

.product-spacer {
    background-color: #DDB19B;
    width: 100%;
    height: 90px;
    position: absolute;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
    top: 910px;
    clip-path: polygon(49% 40%, 100% 100%, 0 100%);
}

.products {
    position: absolute;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
    top: 1000px;
    background-color: #DDB19B;
    width: 100%;
    text-align: center;
}

.list_of_products {
    display: inline-block;
    font-size: 50px;
}

.product-items {
    display: flex;
    flex-flow: column wrap;
    height: 280px;
}

.product-items div {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    justify-content:  center;
    flex-flow: row nowrap;
    background-color: #D59A7A;
}

.name-items {
    border-right: 1px solid black;
    padding: 5px 10px;
}

.desc-items {
    border-right: 1px solid black;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 700;
}

.price-items {
    border-right: 1px solid black;
    padding: 5px 10px;
}

.goto {
    position: relative;
    top: 20%;
    left: 5px;
}

.goto a {
    padding: 5px 10px;
    background-color: #FF5700;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.goto a:hover {
    padding: 10px 15px;
    border-radius: 100px;
    background-color: #CF8B64;
    color: black;
}

.more-products {
    margin: 5px;
}

.more-products a {
    background-color: #692705;
    color: white;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.more-products a:hover { 
    padding: 10px 15px;
    margin: 10px;
    background-color: #FF5700;
}

#footer {
    position: absolute;
    top: 1340px;
    width: 100%;
    /* height: 30vh; */
    background-color: #E5C7BC;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
}

#footer img {
    height: 100px;
    width: 250px;
    position: absolute;
    top: 85px;
    left: 150px;
    transform: translate(-50%, -50%);
}

.nav-links-footer, .contact-us, .legal-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#footer h1 {
    margin: 5px 0 15px 0;
}

#footer a {
    padding: 5px 10px;
    text-decoration: none;
    color: #692705;
    font-size: 16px;
    transition: all 0.5s ease-in;
}

#footer a:hover {
    color: #FF5700;
    font-size: 20px;
}