@media screen and (max-width: 1000px) {
  #header {
    height: 5vh;
  }

  #favicon {
    width: 200px;
    height: 100%;
  }

  #header-links-accounts {
    font-size: 40px;
  }

  .dropbtn {
    font-size: 40px;
  }

  .links-header:focus .dropdown-content-header {
    display: block;
  }

  .links-header:focus .dropdown-content-header a {
    background-color: #e5c7bc;
  }
  .links-header:focus .dropdown-content-header a:focus {
    background-color: #692705;
    color: #cf8b64;
  } /*FF5700 */
  .links-header:focus .dropbtn {
    background-color: #e5c7bc;
    color: #000;
  }

  .username-base {
    color: #692705;
    transition: color 0.3s ease-in;
  }

  .username-base:hover {
    color: #ff5700;
  }

  #jump-starter {
    padding-top: 5vh;
  }

  .top-spacer {
    position: relative;
    top: -336px;
  }

  .spacer {
    position: relative;
    top: -337px;
  }

  #catcher {
    bottom: 75%;
  }

  .bind {
    font-size: 125px;
  }

  .tail {
    font-size: 75px;
  }

  #learn-more {
    font-size: 30px;
  }

  #learn-more:hover {
    font-size: 35px;
  }

  .requirements span {
    font-size: 25px;
    max-width: 500px;
    padding-top: 20px;
  }

  .requirements img {
    width: 55px;
    height: 55px;
  }

  .requirements p {
    font-size: 20px;
  }

  .products {
    font-size: 30px;
  }

  .desc-items {
    font-size: 20px;
  }

  /* Product Page Styles */

  .container-products table {
    max-width: 100%;
  }

  .price {
    padding-right: 5px;
  }

  .container-products table th,
  .container-products table td {
    font-size: 50px;
    line-height: initial;
  }

  .button-td-products a button {
    font-size: 45px;
  }

  /* Footer styles */

  #footer {
    width: 121%;
  }

  #footer-logo {
    display: none;
  }
}
