@media screen and (max-width: 1440px) {
  #header {
    height: 10vh;
  }

  #favicon {
    width: 200px;
    height: 100%;
  }

  #header-links-accounts {
    display: inline-block;
    font-size: 25px;
  }

  .dropbtn {
    border: 0;
    padding: 0 4px 0 4px;
    background-color: transparent;
    font-size: 25px;
    border-radius: 5px 5px 0 0;
  }

  .username-base {
    color: #692705;
    transition: color 0.3s ease-in;
  }

  .username-base:hover {
    color: #ff5700;
  }

  .background-image {
    position: relative;
    top: 10vh;
  }

  #catcher {
    bottom: 75%;
  }

  .bind {
    font-size: 125px;
  }

  .tail {
    font-size: 75px;
  }

  #learn-more {
    font-size: 30px;
  }

  #learn-more:hover {
    font-size: 35px;
  }

  .requirements span {
    font-size: 25px;
    max-width: 500px;
    padding-top: 20px;
  }

  .requirements img {
    width: 55px;
    height: 55px;
  }

  .requirements p {
    font-size: 20px;
  }

  .products {
    font-size: 30px;
  }

  .desc-items {
    font-size: 20px;
  }

  #footer-logo {
    display: none;
  }
}
