{% extends 'base.html' %}
{% block content %}
	<div id="container-ATD">
		<div id="lasix-ATD">
			<h1>Dakota Young</h1>
			<img class="img-ATD" src="./static/coding-image.png" alt="Dakota Young profile picture"/>
			<p>The main thing of programming is that it takes thought, and a plan, otherwise nothing will work. Careful thought is necessary. Failing is also, necessary, as is humbleness.</p>
			<p><q>Always choose to be humble, as it shows intelligence as well as care.</q> - Dakota Young</p>
			<span class="links-ATD">
				<a class="email-lasix" href="mailto:dakotafoxtail@gmail.com">Email</a>
				<a class="phone-lasix" href="tel:+13842064">Phone</a>
			</span>
		</div>
		<div id="Cierra-ATD">
			<h1>Cierra Callahan</h1>
			<img class="img-ATD" src="../static/cierra_1.jpg" alt="Cierra Callahan profile picture">
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi vitae totam aspernatur id reprehenderit esse dignissimos necessitatibus saepe labore.</p>
			<p><q>filler text filler text filler text</q> - filler text</p>
			<span class="links-ATD">
				<a class="email-lasix" href="mailto:dakotafoxtail@gmail.com">Email</a>
			</span>
		</div>
	</div>
{% endblock %}