{% extends 'base.html' %} {% block content %}
<div id="customize-container">
  <div id="customize-wrapper">
    <form action="" method="POST" novalidate>
      {{ form.hidden_tag() }}
      <div>
        {{ form.order_name.label() }} {{
        form.order_name(class_="customize_product", placeholder="Order Name") }}
        {% for error in form.order_name.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div>
        {{ form.order_description.label() }} {{
        form.order_description(class_="customize_product", placeholder="Order
        Description") }} {% for error in form.order_description.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div>
        {{ form.order_reference.label() }}
        {{form.order_reference(class_="customize_reference")}} 
        {%for error in form.order_reference.errors%}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div>{{ form.submit(class_="customize-submit") }}</div>
    </form>
  </div>
</div>
{% endblock %}
