{% extends 'base.html' %} 
{% block content %} 
    <div class="container-add_products">
        <div class="wrapper-add_products">
            <form action="" method="POST" novalidate autocomplete="off">
                {{ form.hidden_tag() }}
                <div class="name-div-add_products">
                    {{ form.name.label(class_="order-name-label-add_products") }}
                    {{ form.name(size=20, class_="order-name-add_products", placeholder="Product name") }}
                    {% for error in form.name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                
                {{ form.submit(class_="order-submit-add_products") }}
            </form>
        </div>
    </div>
{% endblock%}