{% extends 'base.html' %} {% block content %}
<div id="jump-starter">
  <img
    class="background-image"
    src="/static/imgs/coding-image.png"
    alt="background image"
  />
  <div id="catcher">
    <p class="bind">IN A BIND?</p>
    <p class="tail">Let us lend you our tail.</p>
    <a href="/products"
      ><button
        class="learn-more"
        type="button"
        name="Learn More"
        value="Learn More"
      >
        Learn More
      </button></a
    >
  </div>
  <div class="top-spacer"></div>
  <div class="spacer"></div>
</div>
<div class="requirements">
  <span class="reliability">
    <img src="/static/imgs/index_all.svg" alt="why us image" />
    <h1>Reliability</h1>
    <p>
      Foxtails' first priority is customer satisfaction, and we are willing to
      do what's necessary for it. Having great service, and cooperative staff,
      we are dedicated to the service of you.
    </p>
  </span>
  <span class="trustworthy">
    <img class="svg-img" src=" /static/imgs/index_all.svg" alt="why us image" />
    <h1>Trustworthy</h1>
    <p>
      With amazing speed and top quality applications, we are here to give you
      amazing applications at an affordable price. Fixing bugs and testing
      <b>BEFORE</b> we hand over the application, we can only guarantee top
      quality applications.
    </p>
  </span>
  <span class="affordable">
    <img src=" /static/imgs/index_all.svg" alt="why us image" />
    <h1>Affordability</h1>
    <p>
      We build applications for an very affordable price, and allow for amazing
      customizability. We are very affordable for small businesses and
      individuals alike, for the quality we make!
    </p>
  </span>
</div>
<div id="products-div">
  <div class="product-spacer"></div>
  <div class="products">
    <span class="list_of_products">Example Projects</span>
    <div class="product-items">
      {% for product in products %}
      <div>
        <span class="name-items">{{ product.name }}</span>
        <span class="desc-items">{{ product.desc }}</span>
        <span class="price-items">${{ product.price }}/hr</span>
        <span class="goto"
          ><a href="/customize/{{ product.name }}">Customize</a></span
        >
      </div>
      {% endfor %}
      <span class="more-products"><a href="/products">More</a></span>
    </div>
  </div>
</div>
{% endblock %}
