{% extends "base.html" %} {% block content %}
<div id="container-login">
  <div id="sign-in-div">
    <div class="login-div">
      <h1 class="big-sign-in">Sign In</h1>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="username-pass-div-signin">
          <div>
            {{ form.username.label(class_='username-label-login') }}<br />
            {{ form.username(class_='login-inputs', autofocus=true,
            placeholder="Username") }}<br />
            {% for error in form.username.errors %}
            <span style="color: red">[{{ error }}]</span> {% endfor %} {% if
            user_error %}
            <span style="color: red">[{{ user_error }}]</span>
            {% endif %}
          </div>
          <div>
            {{ form.password.label(class_='password-label-login') }}<br />
            {{ form.password(class_='login-inputs', placeholder="Password")
            }}<br />
            {% for error in form.password.errors %}
            <span style="color: red">[{{ error }}]</span> {% endfor %} {% if
            pass_error %}
            <span style="color: red">[{{ pass_error }}]</span>
            {% endif %}
          </div>
          <div id="remember-me">
            {{ form.remember_me(class_='remember-me-login') }} {{
            form.remember_me.label(class_='remember-me-label-login') }}
          </div>
          <a id="forgot-password" href="/reset_password">Forgot password?</a>
          {{ form.submit(class_='sign-in-button-login') }}
        </div>
      </form>
    </div>
    <div class="side-div-login"></div>
    <div class="sign-up-div-login">
      <h2>Don't have an account?</h2>
      <h5>Create one here!</h5>
      <p>
        It allows you to see all of your current, past, and cancelled orders, as
        well as allow a quick way for customer support to help!
      </p>
      <a href="/account/register" class="join-foxtail">Join Foxtail</a>
    </div>
  </div>
</div>
{% endblock %}
