{% extends 'base.html' %}
{% block content %}
    <div class="container-products">
        <h1>Current Products</h1>
        <table>
            <thead>
                <tr class="trhead-products">
                    <th>Name</th>
                    <th class="desc-products">Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td class="name-products">{{ product.name }}</td>
                        <td class="description">{{ product.desc }}</td>
                        <td>${{ product.price }}/hr</td>
                        <th class="button-td-products"><a href="/customize/{{ product.name }}"><button>Customize</button></a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
