{% extends "base.html" %}
{% block content %}
    <div id="signup-div">
        <div class="singup-div">
            <h1 class="big-sign-up">Sign Up</h1>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="username-pass-div-signup">
                    {{ form.username.label(class_='username-label-signup') }}<br>
                    {{ form.username(size=20, class_='username-signup') }}<br>
                    {% for error in form.username.errors %}
                        <span class="username-error-signup">[{{ error }}]</span>
                    {% endfor %}
                    {{ form.email.label(class_='email-label-signup') }}<br>
                    {{ form.email(size=20, class_='email-signup')}}<br>
                    {% for error in form.email.errors %}
                        <span class="email-error-signup">[{{ error }}]</span>
                    {% endfor %}
                    {{ form.password.label(class_='password-label-signup') }}<br>
                    {{ form.password(size=20, class_='password-signup') }}<br>
                    <div class="password-error-signup-div">
                        {% for error in form.password.errors %}
                            <span class="password-error-signup">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    {{ form.confirm_pass.label(class_='confirm-pass-label-signup') }}
                    {{ form.confirm_pass(size=20, class_='confirm-pass-signup') }}
                    {% for error in form.confirm_pass.errors %}
                        <span class="confirm-pass-error-signup">[{{ error }}]</span>
                    {% endfor %}
                    {{ form.submit(class_='sign-up-button') }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}